<ion-header>

  <ion-navbar color="bluebar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ข้อมูลคนไข้</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div *ngIf="!isToogle">
    <ion-item no-padding>ชื่อ : {{data.firstName}}</ion-item>
    <ion-item no-padding>นามสกุล : {{data.lastName}}</ion-item>
    <ion-item no-padding>เพศ : {{data.sex}}</ion-item>
    <ion-item no-padding>เลขประจำตัวคนไข้ : {{data.patient_id}}</ion-item>
    <ion-item no-padding>เลขประจำตัวประชาชน : {{data.identification_number}}</ion-item>
    <ion-item no-padding>วัน/เดือน/ปีเกิด : {{data.dateOfBirth}}</ion-item>
    <ion-item no-padding>อายุ (ปี) : {{data.age}}</ion-item>
    <ion-item no-padding>กรุ๊ปเลือด : {{data.bloodType}}</ion-item>
    <ion-card *ngIf="data.urlImg">
        <img center [src]="data.urlImg"/>
    </ion-card>
    <ion-item no-padding>โรคประจำตัว : {{data.medicalProblems}}</ion-item>
    <ion-item no-padding>ประเภทความเสี่ยง : {{data.riskType}}</ion-item>
    <ion-item no-padding>เบอร์โทรศัพท์ : {{data.tel}}</ion-item>
    <ion-item no-padding>ที่อยู่ : {{data.address}}</ion-item>
  </div>

  <div class="form">
    <form *ngIf="isToogle" novalidate #note="ngForm" (ngSubmit)="update()">
      <ion-list>
        <ion-item>
          <ion-label floating>ชื่อ</ion-label>
          <ion-input [(ngModel)]="data.firstName" type="text" name="firstName" required value="{{data.firstName}}"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>นามสกุล</ion-label>
          <ion-input [(ngModel)]="data.lastName" type="text" name="lastName" required value="{{data.lastName}}"></ion-input>
        </ion-item>

        <br>
        <ion-item><tr>เพศ</tr> </ion-item>
          <ion-list radio-group [(ngModel)]="data.sex" name="sex">
              <ion-item>
                <ion-label>ชาย</ion-label>
                <ion-radio value="ชาย" checked></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>หญิง</ion-label>
                <ion-radio value="หญิง"></ion-radio>
              </ion-item>
          </ion-list>

        <ion-item>
          <ion-label floating>เลขประจำตัวคนไข้</ion-label>
          <ion-input [(ngModel)]="data.patient_id" type="text" name="patient_id" required value="{{data.patient_id}}"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>เลขประจำตัวประชาชน</ion-label>
          <ion-input [(ngModel)]="data.identification_number" type="text" name="identification_number" required value="{{data.identification_number}}"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>วัน/เดือน/ปีเกิด</ion-label>
          <ion-datetime [(ngModel)]="data.dateOfBirth" type="text" displayFormat="MM/DD/YYYY" name="dateOfBirth" required></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label floating>อายุ (ปี)</ion-label>
          <ion-input [(ngModel)]="data.age" type="text" name="age" required value="{{data.age}}"></ion-input>
        </ion-item>

        <ion-item>
          <ion-row class="center show-album">
            <label class="center" (click)="getPicture(0)" color="blue">Select Image</label>
          </ion-row>
          <ion-card>
            <img [src]="data.urlImg" *ngIf="!captureDataUrl"/>
            <img [src]="captureDataUrl" *ngIf="captureDataUrl"/>
          </ion-card>
        </ion-item>

        <br>
        <ion-item>
          <tr>กรุ๊ปเลือด</tr>
        </ion-item>
          <ion-list radio-group [(ngModel)]="data.bloodType" name="bloodType">
            <ion-item>
              <ion-label>A</ion-label>
              <ion-radio value="A" checked="true"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>B</ion-label>
              <ion-radio value="B"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>O</ion-label>
              <ion-radio value="O"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>AB</ion-label>
              <ion-radio value="AB"></ion-radio>
            </ion-item>
          </ion-list>

        <ion-item>
          <ion-label floating>โรคประจำตัว</ion-label>
          <ion-input [(ngModel)]="data.medicalProblems" type="text" name="medicalProblems" required value="{{data.medicalProblems}}"></ion-input>
        </ion-item>

        <br>
        <ion-item>
          <tr>ประเภทความเสี่ยง</tr>
        </ion-item>
          <ion-list radio-group [(ngModel)]="data.riskType" name="riskType">
            <ion-item>
              <ion-label>สูง</ion-label>
              <ion-radio value="สูง" checked="true"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>ปานกลาง</ion-label>
              <ion-radio value="ปานกลาง"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>ต่ำ</ion-label>
              <ion-radio value="ต่ำ"></ion-radio>
            </ion-item>
          </ion-list>

        <ion-item>
          <ion-label floating>ที่อยู่</ion-label>
          <ion-input [(ngModel)]="data.address" type="text" name="address" required value="{{data.address}}"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>เบอร์โทรศัพท์</ion-label>
          <ion-input [(ngModel)]="data.tel" type="tel" name="tel" required value="{{data.tel}}"></ion-input>
        </ion-item>

        <div padding>
          <button ion-button type="submit" [disabled]="!note.form.valid">บันทึก</button>
        </div>

      </ion-list>
    </form>
  </div>

  <br>
  <button *ngIf="!isToogle" ion-button type="button" (click)="editPatient()">แก้ไขข้อมุล</button>
  <button *ngIf="!isToogle" ion-button type="submit" (click)="navigateLocation()">รับเส้นทาง</button>

  <button *ngIf="!isToogle" color="secondary" ion-button type="submit" (click)="goToResult()" >ประวัติการตรวจ</button>

</ion-content>


<!--
<ion-content padding>

<table>

    <td> {{item.name}}</td>

</table>

</ion-content> -->