
<ion-header>

    <ion-navbar color="bluebar">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
      <ion-title>ค้นหาคนไข้</ion-title>
    </ion-navbar>
  
</ion-header>


<!-- <ion-content>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let item of items">
        {{ item }}
      </ion-item>
    </ion-list>
</ion-content> -->


<!-- <ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let patient of patients | async">
      <ion-item>

        <h2> {{patient.firstname}}</h2>
        <p>last name : {{patient.lastname}}
          - patient id : {{patient.patientid}}</p>

      </ion-item>
    
    <ion-item-options side="right">
      <button ion-button color="primary">
        <ion-ion name="edit"></ion-ion>
        Edit
      </button>
      <button ion-button color="secondary">
          <ion-ion name="delete"></ion-ion>
          Delete
        </button>
    </ion-item-options>

    </ion-item-sliding>
  </ion-list>
</ion-content> -->


