page-note {
	.show-album {
		text-align: center;
    display: block;
    color: blue;
	}

	.center{
    text-align: center;
    margin-top: 20px;
	}

	.cur_address .item-inner {
    border-bottom: none !important;
	}
}
